
  <div class="row">
    <div class="shadow-lg p-3 mb-5 bg-white rounded col-md-4">
    <div class="card ">
      <div class="card-header">

        <h2>Displays the User Input</h2>
        <div class="input-group input-group-sm col-sm-12 m-0 p-0" style="height: 2rem;">
          <div class="col-sm-12 form-control text-lg-right" type="text">{{input}}</div>
        </div>
        
        <h2>Displays the Results</h2>
        <div class="input-group input-group-sm col-sm-12 m-0 p-0" style="height: 2rem;">
          <div class="form-control text-sm-right" type="text">{{result}}</div>
        </div>
        
      </div>
      <div role="group">
        <button class="btn btn-danger btn-block col-sm-3 mr-5" (click)="allClear()">AC</button>
        <button type="button" class="btn btn-secondary col-sm-3">(</button>
        <button type="button" class="btn btn-secondary col-sm-3">)</button>
        <button class="btn btn-primary btn-block  col-sm-3" (click)="pressOperator('/')">/</button>
      </div>
   

      <div role="group" >
        <button type="button" class="btn btn-secondary col-sm-3 mr-5" (click)="pressNum('1')">1</button>
        <button type="button" class="btn btn-secondary col-sm-3 mr-5"(click)="pressNum('2')">2</button>
        <button type="button" class="btn btn-secondary col-sm-3 mr-5"(click)="pressNum('3')">3</button>
        <button type="button" class="btn btn-primary col-sm-3 mr-5"(click)="pressOperator('*')">X</button>
      </div>

      <div  role="group" >
        <button type="button" class="btn btn-secondary col-sm-3 mr-5"(click)="pressNum('4')">4</button>
        <button type="button" class="btn btn-secondary col-sm-3 mr-5"(click)="pressNum('5')">5</button>
        <button type="button" class="btn btn-secondary col-sm-3 mr-5" (click)="pressNum('6')">6</button>
        <button type="button" class="btn btn-primary col-sm-3 mr-5"(click)="pressOperator('+')">+</button>
      </div>

      <div  role="group">
        <button type="button" class="btn btn-secondary col-sm-3 mr-5" (click)="pressNum('7')">7</button>
        <button type="button" class="btn btn-secondary col-sm-3 mr-5" (click)="pressNum('8')">8</button>
        <button type="button" class="btn btn-secondary col-sm-3 mr-5" (click)="pressNum('9')">9</button>
        <button type="button" class="btn btn-primary col-sm-3 mr-5"(click)="pressOperator('-')">-</button>
      </div>

      <div  role="group" >
        <button type="button" class="btn btn-secondary col-sm-3 mr-5"(click)="pressNum('.')">.</button>
        <button type="button" class="btn btn-secondary col-sm-3 mr-5" (click)="pressNum('0')">0</button>
        <button type="button" class="btn btn-secondary col-sm-3 mr-5" (click)="pressNum('.')">,</button>
        <button type="button" class="btn btn-primary col-sm-3 mr-5"(click)="getAnswer()">=</button>

      </div>
    </div>
    </div>
</div>

